<div class="container">
    <div class="row g-2 p-2">
        <div class="col">
           <form action="/producto/comprar/{{producto._id}}" method='POST' enctype="multipart/form-data" novalidate >
               <div class="card mb-3" >
                   <div class="row g-0">
                       <div class="col">
                           <img src="../{{producto.imagen}}" class="card-img-top w-75" alt="...">
                       </div>
                       <div class="col">
                           <div class="card-body">
                               <h5 class="card-title">{{producto.nombre}}</h5>
                               <p class="card-text">{{producto.descripcion}}</p>
                           </div>
                           <ul class="list-group list-group-flush">
                               <li class="list-group-item">MXN${{producto.precio}}</li>
                           </ul>
                           <div class="card-body">
                               <button class="btn btn-outline-primary" type="submit">Comprar</button>
                           </div>
                       </div>
                   </div>
               </div>
           </form>
        </div>
    </div>
    <div class="row align-content-center">
        <h3>Articulos relacionados</h3>
        {{#each articulos}}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="../{{imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MXN${{precio}}</h5>
                        <p class="card-text">{{nombre}}</p>
                        <a class="btn btn-primary" href="/producto/{{_id}}" >Ver producto</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
    .carrito{}

<script src="https://cdnjs.cloudflare.com/ajax/libs/minicart/3.0.5/minicart.min.js"></script>
<script>



    paypal.minicart.render({
        strings:{
            button:'Pagar',
            buttonAlt:'Total',
            subtotal: " Total:",
            empty:'No hay productos en el carrito.'
        }
    });

    $('.carrito').click(function (e){
        e.stopPropagation();
        paypal.minicart.cart.add({
            business: 'evotech@gmail.com',
            item_name: $(this).attr("titulo"),
            amount: $(this).attr("precio"),
            currency_code: 'MXN'
        });
    });

</script>
</body>
</html>